.Rocket-details-card {
    width: 18rem;
    padding: 1rem;
    margin-bottom: 15px;
    background-color: #FFF1D0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Rocket-mission-image {
    background-color: #ffffff;
}

.Rocket-mission-name-flight-number {
    color: blue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.Rocket-detail-label {
    color: #181818;
    font-size: 18px;
    font-weight: 500;
}

.Rocket-detail-value {
    color: #001149;
    font-weight: 400;
}